

<!doctype html>
<html>
<head>
  <meta charset="UTF=8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Socket.io Chat app</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <style>
    #messages {
      height: 300px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center">
          MongoChat
          <button id="clearBtn" class="btn btn-danger">Clear</button>
        </h1>
        <div id="status"></div>
        <div id="chat">
          <form action="">
            <input type="text" class="form-control" id="username" placeholder="Enter name...">
            <br>
            <div class="card">
              <div id="messages" class="card-block">

              </div>
            </div>
            <br>
            <textarea name=textarea"" id="textarea" class="form-control" placeholder="Enter message"></textarea>
          </form>
        </div>

      </div>
    </div>
  </div>

  <script>
    (function() {

      /*
        ===============================================
        Variables
        ===============================================
      */
      // Get Elements
      let status = element('status');
      let messages = element('messages');
      let textarea = element('textarea');
      let username = element('username');
      let clearBtn = element('clearBtn');

      // Set Default Status
      let statusDefault = status.textContent;

      /*
        ===============================================
        Starts Here
        ===============================================
      */
      // Connect to socket.io
      let socket = io();

      // Check for connection
      if (socket) {
        console.log('Connected to socket');

        // Handle Output
        socket.on('output', function(data) {
          if (data.length) {
            for(i = 0; i < data.length; i++) {
              // Build out message div
              var message = document.createElement('div');
              message.setAttribute('class', 'chat-message')
              message.textContent = `${data[i].name}: ${data[i].message}`;
              messages.appendChild(message);
              messages.insertBefore(message, messages.firstChild);
            }
          }
        });

        // Handle Input
        textarea.addEventListener('keydown', (event) => {
          if (event.which === 13 && event.shiftKey == false) {    // 13 === 'enter key'
            // Emit input to server
            socket.emit('input', {
              name: username.value,
              message: textarea.value
            })

            // prevent Default Behaviour
            event.preventDefault();
          }
        })

        // Get Status from Server
        socket.on('status', (data) => {
          // Get message status
          setStatus((typeof data === 'object') ? data.message : data);

          if (data.clear) {
            textarea.value = '';
          }
        })

        // Handle Chat Clear: clear from database
        clearBtn.addEventListener('click', () => {
          socket.emit('clear');
        })

        // Clear Messages: from Browser / UI
        socket.on('cleared', function() {
          messages.textContent = '';
          setStatus('Messages Cleared');
        })

      }


      /*
        ===============================================
        Functions
        ===============================================
      */

      function element(id) {
        return document.getElementById(id);
      }

      function setStatus(s) {
        status.textContent = s;

        if (s !== statusDefault) {
          let delay = setTimeout(function() {
            setStatus(statusDefault);
          }, 2000);
        }
      }



    })();

/*
    $(function () {
      var socket = io();  // load the socket.io-client library, which exposes a io global, and then connects to your server ie localhost

      socket.on('welcome', function(msg){
        $('#messages').append($('<li>').text(msg));
      });

      $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('user count', function(currentUsers){
        console.log(currentUsers);
      });

      socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
      });
    });
    */
  </script>
</body>
</html>



<!--

/*
  ===============================================
  Begginner Code i wrote from Socket.io site
  ===============================================
*/

<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      $(function () {
        var socket =   // // load the socket.io-client library, which exposes a io global, and then connect.

        socket.on('welcome', function(msg){
          $('#messages').append($('<li>').text(msg));
        });

        $('form').submit(function(){
          socket.emit('chat message', $('#m').val());
          $('#m').val('');
          return false;
        });
        socket.on('user count', function(currentUsers){
          console.log(currentUsers);
        });

        socket.on('chat message', function(msg){
          $('#messages').append($('<li>').text(msg));
        });
      });
    </script>
  </body>
</html>
-->
