.Comment {
  margin-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.Comment img {
  width: 50px;
  height: 50px;
}
.Comment .form-group {
  margin-bottom: 0.5rem;
}
.replies {
  margin-top: 1rem;
  margin-left: 66px;
}
.Comment .username {
  letter-spacing: .5px;
}
